body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    width: 800px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #931420;
    background-color: #fffded;
}
* {
    margin: 0;
    padding: 0;
}
html {
    background-color: white;
}

#nav_menu ul {
    list-style: none;
    margin: 0 0;
    padding: 0 0;
    position: relative;
}

ul li {
    float: left;

}

#nav_menu ul li a {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #800000;
    display: block;
    width: 160px;
    padding-top: 1em;
    padding-bottom: 1em;
}

#nav_menu .current {
    color: yellow;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul li:hover > ul{
    display: block;
}

#nav_menu > ul::after {
    content: "";
    clear: both;
    display: block;
}

#nav_menu ul ul li {
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #800000;
    display: block;
    width: 160px;
    padding-top: 1em;
    padding-bottom: 1em;
}

header {
    border-bottom: 3px solid #931420;
    padding-top: 1.5em;
    padding-bottom: 2em;
    background-image: linear-gradient(30deg, #f6bb73 0%, white 30%, white 50%, white 80%, #f6bb73 100%);
    background-image: -moz-linear-gradient(30deg, #f6bb73 0%, white 30%, white 50%, white 80%, #f6bb73 100%);
    background-image: -o-linear-gradient(30deg, #f6bb73 0%, white 30%, white 50%, white 80%, #f6bb73 100%);
    background-image: -webkit-linear-gradient(30deg, #f6bb73 0%, white 30%, white 50%, white 80%, #f6bb73 100%);
    background-image: -ms-linear-gradient(30deg, #f6bb73 0%, white 30%, white 50%, white 80%, #f6bb73 100%);
}
header img {
    float: left;
    padding-left: 30px;
    padding-right: 30px;
}
header h2 {
    font-size: 170%;
    color: #800000;
}
header h3 {
    font-size: 130%;
    font-style: italic;
}

main {
    clear: left;
}

section {
    width: 525px;
    float: right;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
}

section p {
    padding-bottom: 0.5em;
}

aside {
    width: 215px;
    float: right;
    padding-left: 20px;
    padding-bottom: 20px;
}

section h1 {
    font-size: 150%;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}
section article h1 {
    font-size: 150%;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
    margin: 0;
}

article {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-top: 2px solid #800000;
    border-bottom: 2px solid #800000;
}

section article img {
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    border: 1px solid black;
}

section h2 {
    font-size: 130%;
    color: #800000;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

section article h2 {
    padding-top: 0;
}

aside h3 {
    font-size: 105%;
    padding-bottom: 0.25em;
}

section article h3 {
    font-size: 105%;
    padding-bottom: 0.25em;
}

aside h2 {
    font-size: 130%;
    color: #800000;
    padding-top: 0.5em;
    padding-bottom: 0.25em;
}

a:focus, a:hover {
    font-style: italic;
}

.shadow {
    text-shadow: 1px 1px #800000;
}

aside img {
    padding-bottom: 1em;
}

aside p {
    padding-bottom: 0.5em;
}

section blockquote {
    padding-right: 2em;
    padding-left: 2em;
    font-style: italic;
}

section ul {
    padding-bottom: 0.25em;
    padding-left: 1.25em;
}

section ul li {
    padding-bottom: 0.35em;
    float: none;
    list-style: circle;
}

footer p {
    text-align: center;
    color: white;
    padding-bottom: 1em;
    padding-top: 1em;
}

footer {
    background-color: #931420;
    clear: both;
}
